<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>translateMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C65BE4691DA607CC00574E8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65BE4801DA607CC00574E8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65BE48B1DA607CC00574E8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
